* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  background: #020617;
  color: white;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
}

.question {
  margin-bottom: 20px;
  font-size: 18px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #334155;
}

/* JS yahan class add karega */
.correct {
  background: green !important;
}

.wrong {
  background: red !important;
}

.next-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
